<header>
    <div class="logo">Tech<span>Shop</span></div>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/catalog">Products</a>
      @if (loggedIn) {
        <a (click)="logOut()">Log out</a>
        <a routerLink="/user">Account</a>
        <a routerLink="/contact">Contact</a>
        <div class="cart" id="cartBtn" routerLink="/user">🛒 <span id="cartCount">{{cartCount}}</span></div>
      }@else {
        <a routerLink="/login">Log in</a>
        <a routerLink="/register">Register</a>
      }
      
    </nav>
  </header>