  <section class="hero">
    <h1>Minimal Tech, Maximum Power</h1>
    <p>Discover the latest gadgets at unbeatable prices.</p>
  </section>

  <section class="products">
    <div class="product-card">
      <img width="198" height="198" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mobiledokan.com%2Fmedia%2Fnothing-phone-3a-pro-gray-official-image.webp&f=1&nofb=1&ipt=939b194d522d06544c324b388a5d310a91678f7675374f549b72ca9d99861f98" alt="iPhone 17" />
      <h3>Nothing Phone 3a PRO</h3>
      <p class="price">$1200</p>
      <button onclick="addToCart('iPhone 17', 1200)">Add to Cart</button>
    </div>

    <div class="product-card">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.beebom.com%2Fmobile%2Fnothing-phone-3a-back.png&f=1&nofb=1&ipt=16cabf17586217ce1d6efbe3fbe5a268d92a3fa83d486ca4b28521b52c0df10d" alt="iPhone 17 Pro Max White" />
      <h3>Nothing Phone 2a</h3>
      <p class="price">$1999</p>
      <button onclick="addToCart('iPhone 17 Pro Max', 1999)">Add to Cart</button>
    </div>
  </section>


  <section class="promo">
    <h2>Watch the Nothing Phone 3 Promo</h2>
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4KbrxIpQgkM?si=okpP2p0hOCrACW6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>
